<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head th:replace="~{layout-base :: head('Adicionar Jogo')}"></head>

<body>

	<nav th:replace="~{layout-base :: nav}"></nav>

	<div class="container mt-5" th:fragment="content">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						Adicionar Jogo
					</div>
					<div class="card-body">
						<form th:action="@{/games/add}" method="post" th:object="${game}">
							<div class="form-group">
								<label for="title">Título do Jogo</label>
								<input type="text" class="form-control" id="title" placeholder="Digite o título do jogo"
									th:field="*{title}" required>
								<div th:if="${#fields.hasErrors('title')}">
									<span th:each="err : ${#fields.errors('title')}" th:text="${err}">Erro</span>
								</div>
							</div>
							<div class="form-group">
								<label for="price">Preço</label>
								<input type="number" class="form-control" id="price"
									placeholder="Digite o preço do jogo" th:field="*{price}" required>
								<div th:if="${#fields.hasErrors('price')}">
									<span th:each="err : ${#fields.errors('price')}" th:text="${err}">Erro</span>
								</div>
							</div>
							<button type="submit" class="btn btn-primary btn-block">Adicionar Jogo</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="~{layout-base :: footer}"></footer>

</body>

</html>